<!DOCTYPE html>
<html lang="en">
<head>
    <title>Azure IoT Suite</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" href="content/appicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="content/appicon.ico" type="image/x-icon"/>
    <link href="content/styles/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1>Error</h1>
</body>
</html>
