.chart {
    margin: 0;
}

.chart-airplane {
    width: 100%;
    height: auto;

    .chart-airplane-outline {
        stroke: black;
        stroke-width: 40;
    }

    .chart-airplane-fuselage {
        fill: none;
    }

    .chart-airplane-label {
        fill: #373435;
        font-weight: 300;
        font-size: 3604.05px;
        font-family: 'Segoe UI Light';
    }

    .chart-airplane-engine1 {
        fill: transparent;
    }

    .chart-airplane-engine2 {
        fill: transparent;
    }

    .chart-airplane-engine-warning {
        fill: yellow;
    }
}

.chart-linechart {
    height: 150px;
}

.chart-container {
    padding: 10px;
}
