<div class="layout">
    <div class="layout-row">
        <div class="layout-cell layout-expand">
            <div class="layout-cell-content">
                <div class="layout-cell-content-fit text-center">
                    <div class="dataTables_wrapper no-footer">
                        <div class="dataTables_header">
                            <div class="dataTables_info" role="status" aria-live="polite">
                                Device List (<span data-bind="text: devices.devicesCollection().length"></span>)
                            </div>
                        </div>
                        <table class="order-column dataTable no-footer" aria-describedby="deviceTable_info" role="grid">
                            <thead>
                                <tr role="row">
                                    <th class="table_status sorting" tabindex="0" aria-controls="deviceTable" 
                                        data-bind="sortBy: { column: 'status', collection: devices.devicesCollectionSorted }"
                                        aria-label="Status: activate to sort column ascending">
                                        Status
                                    </th>
                                    <th tabindex="0" 
                                        aria-controls="deviceTable" 
                                        data-bind="sortBy: { column: 'id', collection: devices.devicesCollectionSorted }"
                                        aria-label="Device ID: activate to sort column descending">
                                        Device ID
                                    </th>
                                    <th tabindex="0" aria-controls="deviceTable"
                                        data-bind="sortBy: { column: 'manufacturer', collection: devices.devicesCollectionSorted }"
                                        aria-label="Manufacturer: activate to sort column ascending">
                                        Manufacturer
                                    </th>
                                    <th tabindex="0" aria-controls="deviceTable" 
                                        data-bind="sortBy: { column: 'modelNumber', collection: devices.devicesCollectionSorted }"
                                        aria-label="Model Number: activate to sort column ascending">
                                        Model Number
                                    </th>
                                    <th tabindex="0" aria-controls="deviceTable" 
                                        data-bind="sortBy: { column: 'serialNumber', collection: devices.devicesCollectionSorted }"
                                        aria-label="Serial Number: activate to sort column ascending">
                                        Serial Number
                                    </th>
                                    <th tabindex="0" aria-controls="deviceTable"
                                        data-bind="sortBy: { column: 'firmware', collection: devices.devicesCollectionSorted }" 
                                        aria-label="Firmware: activate to sort column ascending">
                                        Firmware
                                    </th>
                                    <th tabindex="0" aria-controls="deviceTable" 
                                        data-bind="sortBy: { column: 'platform', collection: devices.devicesCollectionSorted }"
                                        aria-label="Platform: activate to sort column ascending">
                                        Platform
                                    </th>
                                    <th tabindex="0" aria-controls="deviceTable" 
                                        data-bind="sortBy: { column: 'processor', collection: devices.devicesCollectionSorted }"
                                        aria-label="Processor: activate to sort column ascending">
                                        Processor
                                    </th>
                                    <th tabindex="0" aria-controls="deviceTable" 
                                        data-bind="sortBy: { column: 'memory', collection: devices.devicesCollectionSorted }"
                                        aria-label="Installed RAM: activate to sort column ascending">
                                        Installed RAM
                                    </th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: devices.devicesCollectionSorted.observable()">
                                <tr role="row" data-bind="click: $root.devices.selectDevice" tabindex="0">
                                    <td class="table_status status_true" data-bind="text: status"></td>
                                    <td class="sorting_1" data-bind="text: id"></td>
                                    <td data-bind="text: manufacturer"></td>
                                    <td data-bind="text: modelNumber"></td>
                                    <td data-bind="text: serialNumber"></td>
                                    <td data-bind="text: firmware"></td>
                                    <td data-bind="text: platform"></td>
                                    <td data-bind="text: processor"></td>
                                    <td data-bind="text: memory"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="layout-cell" data-bind="if: devices.devicesCollection()">
            <!--ko if: devices.selectedDeviceDetailsOpen() -->
            <div class="layout-cell-content drawer drawer-open" data-bind="with: devices.selectedDevice()">
                <div class="layout-cell-content-fit">
                    <h2 class="drawer-header" data-bind="click: $root.devices.toggleSelectedDeviceDetails">
                        Device details
                    </h2>

                    <div class="header_grid header_grid_general">
                        <h3 class="grid_subheadhead_detail">Device properties</h3>
                        <img src="/content/img/icon_info_gray.svg" class="details_grid_info" title="Device Properties are displayed as stored.">
                    </div>

                    <section class="details_grid_general">
                        <h4 class="grid_subhead_detail_label">Device ID</h4>
                        <div class="text_copy_container text_copy_container--details_grid">
                            <input class="input_text--readonly text_copy_container__input text_copy_container__input--details_grid" readonly="readonly" type="text" data-bind="value: id">
                            <button class="button_base button_copy details_grid_general__copy_button">
                                Copy
                            </button>
                        </div>
                        <h4 class="grid_subhead_detail_label">Host name</h4>
                        <div class="text_copy_container text_copy_container--details_grid">
                            <input class="input_text--readonly text_copy_container__input text_copy_container__input--details_grid" readonly="readonly" type="text" data-bind="value: hostname">
                            <button class="button_base button_copy details_grid_general__copy_button">
                                Copy
                            </button>
                        </div>
                        <h4 class="grid_subhead_detail_label">HubEnabled state</h4>
                        <p class=" grid_detail_value" data-bind="text: hubEnabledState">True</p>

                        <h4 class="grid_subhead_detail_label">Created time (UTC)</h4>
                        <p class="grid_detail_value" data-bind="text: createdTime"></p>

                        <h4 class="grid_subhead_detail_label">Device state</h4>
                        <p class=" grid_detail_value" data-bind="text: state"></p>

                        <h4 class="grid_subhead_detail_label">Updated time (UTC)</h4>
                        <p class="grid_detail_value" data-bind="text: updatedTime"></p>

                        <h4 class="grid_subhead_detail_label">Manu facturer</h4>
                        <p class=" grid_detail_value" data-bind="text: manufacturer"></p>

                        <h4 class="grid_subhead_detail_label">Model number</h4>
                        <p class=" grid_detail_value" data-bind="text: modelNumber"></p>

                        <h4 class="grid_subhead_detail_label">Serial number</h4>
                        <p class=" grid_detail_value" data-bind="text: serialNumber"></p>

                        <h4 class="grid_subhead_detail_label">Firmware Version</h4>
                        <p class=" grid_detail_value" data-bind="text: firmware"></p>

                        <h4 class="grid_subhead_detail_label">Platform</h4>
                        <p class=" grid_detail_value" data-bind="text: platform"></p>

                        <h4 class="grid_subhead_detail_label">Processor</h4>
                        <p class=" grid_detail_value" data-bind="text: processor"></p>

                        <h4 class="grid_subhead_detail_label">Installed RAM</h4>
                        <p class=" grid_detail_value" data-bind="text: memory"></p>
                    </section>
                </div>
            </div>
            <!--/ko-->
            <!--ko ifnot: devices.selectedDeviceDetailsOpen() -->
            <div class="layout-cell-content drawer drawer-closed" data-bind="click: $root.devices.toggleSelectedDeviceDetails">
                <div class="layout-cell-content-fit">
                    <h2 class="drawer-header">
                        Device details
                    </h2>
                </div>
            </div>
            <!--/ko-->
        </div>
    </div>
</div>

