<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="iotHub.HostName" value="config:IotHubName" />
    <add key="iotHub.ConnectionString" value="config:IotHubConnectionString" />
    <add key="eventHub.HubName" value="config:ServiceEHName" />
    <add key="eventHub.ConnectionString" value="config:ServiceSBConnectionString" />
    <add key="eventHub.StorageConnectionString" value="config:ServiceStoreAccountConnectionString" />
    <add key="device.StorageConnectionString" value="config:ServiceStoreAccountConnectionString" />
    <add key="device.TableName" value="config:DeviceTableName" />
    <add key="ObjectTypePrefix" value="config:ObjectTypePrefix" />
    <add key="DevicePollIntervalSeconds" value="20" />
    <add key="UseConfigForDeviceList" value="False" />
    <add key="SimulatorDataFileName" value="config:SimulatorDataFileName" />
    <add key="SimulatorDataContainer" value="simulatordata" />
    <add key="MLApiUrl" value="config:MLApiUrl" />
    <add key="MLApiKey" value="config:MLApiKey" />
    <add key="MLResultTableName" value="devicemlresult" />
  </appSettings>
</configuration>
